<div class="container-fluid">
  	<div class="row-fluid">
		<div class="col-md-2 options">

		<form role="form">
			<div class="form-group">
				<label for="name">Ride Name:</label>
				<input id="name" type="text" class="form-control" ng-model="user_options.rideName"/>
			</div>

			<div class="form-group">
			    <label for="exampleInputFile">File input</label>
			    <input type="file" id="exampleInputFile" ng-model="user_options.file">
			    <p class="help-block">Upload your .gpx file</p>
  			</div>

  			<div class="form-group">
				<label for="render-technique">Render as:</label>
				<select id="render-technique" class="form-control" ng-model="user_options.renderTechnique">
					<option ng-repeat="option in renderOptions" value="{{option}}">{{option}}</option>
				</select>
			</div>

			<div class="checkbox">
			    <label>
					<input type="checkbox" ng-model="user_options.isPrivate">Make ride Private
			    </label>
		  	</div>

		</form>


		</div>
	</div
</div>